.todo-container
{
    width: 30%;
    margin: auto;
}
.todo-container .input-container
{
    width: 100%;
    padding: 20px 24px;
    background-color: var(--white-clr);
    display: flex;
    box-shadow: var(--gray-clr) 0 35px 50px -15px;
    border-radius: 6px;
}
.todo-container .input-container input
{
    width: 100%;
    color: var(--dark-clr);
    font-weight: var(--font-weight-400);
    font-size: var(--font-size-18px);
}
.todo-container .input-container input::placeholder
{
    color: var(--dark-gray-clr);
    font-weight: var(--font-weight-400);
    font-size: var(--font-size-18px);
}
.todo-container .input-container .round
{
    border: 1px solid var(--light-gray-clr);
    width: 24px;
    border-radius: 50%;
    margin-right: 20px;
}
.todo-section
{
    width: 30%;
    background-color: var(--white-clr);
    margin: auto;
    margin-top: 24px;
    border-radius: 6px;
    height: 400px;
    overflow-y: scroll;
    box-shadow: 0 35px 50px -15px #C2C3D6;
    position: relative;
}
.todo-section::-webkit-scrollbar
{
    width: 2px;
    display: block;
}
.todo-section li
{
    padding: 20px 24px;
    border-bottom: 1px solid #E3E4F1;
}
.todo-section input
{
    margin-right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid var(--light-gray-clr);
}
.todo-section .todo
{
    display: flex;
    align-items: center;
}
.todo-section input[type="checkbox"]
{
    appearance: none;
    width: 24px;
    accent-color: var(--white-clr);
    height: 24px;
    border-radius: 50%;
    border: 1px solid var(--light-gray-clr);
    cursor: pointer;
}
.todo-section input[type="checkbox"]:checked
{
    background: linear-gradient(to right bottom, #55DDFF, #C058F3);
    border-color: var(--light-gray-clr);
    accent-color: var(--white-clr);
    position: relative;
}
.todo-section input[type="checkbox"]:checked::before
{
    content: url(../../assets/images/icon-check.svg);
    font-size: 18px;
    color: var(--white-clr);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.filter-container
{
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #E3E4F1;
    padding: 20px 24px;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.filter-container .buttons
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.filter-container .buttons button
{
    font-weight: var(--font-weight-700);
    color: #9495A5;
}
.drag-drop
{
    text-align: center;
    margin-top: 50px;
    color: #9495A5;
}