.todo-container
{
    width: 30%;
    margin: auto;
}
.todo-container .input-container
{
    width: 100%;
    padding: 20px 24px;
    background-color: var(--white-clr);
    display: flex;
    box-shadow: var(--gray-clr) 0 35px 50px -15px;
    border-radius: 6px;
}
.todo-container .input-container input
{
    width: 100%;
    color: var(--dark-clr);
    font-weight: var(--font-weight-400);
    font-size: var(--font-size-18px);
}
.todo-container .input-container input::placeholder
{
    color: var(--dark-gray-clr);
    font-weight: var(--font-weight-400);
    font-size: var(--font-size-18px);
}
.todo-container .input-container .round
{
    border: 1px solid var(--light-gray-clr);
    width: 24px;
    border-radius: 50%;
    margin-right: 20px;
}