*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  border: none;
  outline: none;
}
body
{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #FAFAFA;
}
@font-face {
  font-family: 'josefin';
  src: url(./assets/fonts/Bellefair\,Josefin_Sans/Josefin_Sans/JosefinSans-VariableFont_wght.ttf);
}
:root
{
  --white-clr: #fff;
  --light-gray-clr: #E3E4F1;
  --gray-clr: #C2C3D6;
  --dark-gray-clr: #9495A5;
  --dark-clr: #393A4B;
  --blue-clr: #3A7CFD;
  --font-weight-700: 700;
  --font-weight-400: 400;
  --font-size-40px: 40px;
  --font-size-18px: 18px;
  --letter-spacing-15: 15px;
  --background-image: var(--background-image-light);
  --background-image-light: url(./assets/images/bg-desktop-light.jpg);
  --background-image-dark: url(./assets/images/bg-desktop-dark.jpg);
}
:root[data-theme="dark"]
{
  --light-gray-clr: rgb(22, 22, 22);
}
button
{
  background-color: transparent;
}
.dragging
{
  background-color: red;
}